body,html {
  height: 100%;
}

.chat-container {
    margin: 0px;
    padding: 0px;
    height: 440px;
    overflow-y: scroll;
}

.chat-message {
  padding: 6px;
  border-radius: 13px;
  margin-bottom: 13px;
}

.bot-message {
  float: right;
  width: 80%;
  background-color: #e1e4ea;
}

.human-message {
  float: left;
  width: 80%;
  background: #b5b8bc;
  margin: 13px 1px;
}

.input {
  width: 100%;
  margin: 35px 0px;
  height: 60px;
  border: 1px solid rosybrown;
  border-radius: 3px;
}

.table .col-md {
  border: 1px solid grey;
}

#order-btn {
  float: right;
}

#order-summary p {
  text-align: right;
}

#total {
  background-color: grey;
}
